head{
    font-size:32px;
    font-family: 'Courier New', Courier, monospace;
    padding:10px;
    text-align: center;
}
html{
    background-color: blue;
    text-align: center;
}
#container{
    width:auto;
    height:auto;
    padding: 10px;
    text-align: center;
}
body{
    font-size: 25px;
    align-items: center;

}